<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>The Dojo Message Board</h1>
    <hr>
    <p>Add a new message!</p>
    <form action="/message" method="post">
        Name: <input type="text" name="name"><br>
        Message: <input type="text" name="message"><br>
        <input type="submit" value='Post Message!'><br>
    </form>
    <hr>
    <% for(let message of messages) {  %>

        <p>Name: <%= message.name %> </p>
        <p>Message: <%= message.message %> </p>

        <% for(let comment of message._comments){  %>

            <p>Name: <%= comment.name %> </p>
            <p>comment: <%= comment.comment %> </p>

        <% } %>

        <form action="/comment/<%= message._id %>" method="post">
            Name: <input type="text" name="name"><br>
            Comment: <input type="text" name="comment"><br>
            <input type="submit" value='Post Comment!'><br>
        </form>

    <% } %>
</body>
</html>